/* #home {
  position: relative;
  height: 100%;
  width: 100%;
} */
#page-top {
  /* margin-top: 15px!important; */
}
/* FADE OVERLAY FOR SCROLLING LISTS */
.metro.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
}
.metro.scrollable.bottom div::after{
	opacity: 0;
}